<% modifiers ||= '' %>
<% heading ||= "" %>
<% copy ||= "" %>

<section class="collection <%= modifiers %>">
  <div class="collection__inner">
    <div class="collection__content">
      <h3 class="collection__heading"><%= heading %></h3>
      <div class="collection__copy"><%= copy %></div>
    </div>
    <ul class="collection__list">
