<section class="form form--employment">
  <div class="form__outer">
    <div class="form__inner">
      <h4 class="form__heading">
        Interested in working with CNE?
      </h4>

      <div class="form__copy">
      </div>

      <form class="form__form">
        <div class="form__field form__field--name">
          <input class="form__input form__input--text" placeholder="Name" />
        </div>
        <div class="form__field form__field--email">
          <input class="form__input form__input--text" placeholder="Email" />
        </div>
        <div class="form__field form__field--message">
          <textarea class="form__input form__input--textarea" placeholder="Comment"></textarea>
        </div>
        <div class="form__field form__field--submit">
          <button class="form__submit" type="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
</section>
