<section class="form form--search">
  <div class="form__outer">
    <div class="form__inner">
      <div class="form__content">
        <h4 class="form__heading">
        </h4>

        <div class="form__copy">
        </div>
      </div>

      <form class="form__form">
        <div class="form__field form__field--search">
          <input class="form__input form__input--text" placeholder="Enter search here..." />
        </div>
        <div class="form__field form__field--submit">
          <button class="form__submit" type="submit"><span>Search</span></button>
        </div>
      </form>
    </div>
  </div>
</section>
