<div class="preloader">
  <div class="preloader__loader">
    <svg class="preloader__animation" width="200" height="100" viewbox="0 0 80 40">
      <polygon points="0 0 0 40 80 40 80 0" />
    </svg>
  </div>
</div>
