<div class="search">
  <div class="search__inner">
    <form class="search__form">
      <input class="search__input" placeholder="Enter search here..." />
      <button class="search__submit" type="submit">Search</button>
    </form>
  </div>
</div>
